<!DOCTYPE html>
<!--
OrangeLemon (Edwin Zheng, Shriya Anand, Zhaoyu Lin, William Chen)
SoftDev
P00: Sessions Greetings
Nov 12, 2021
-->


<html>

  <head>
    <title> {{BlogTitle}} </title>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon"/>
  </head>

  <body>
    <h1>
    </h1>
    <br>

    <table border = 1>
      <thead>
         <td>EntryTitle</td>
         <td>Entry</td>
         <td>Edit</td>
      </thead>
  
      {% for row in entries %}
         <tr>
            <td>{{row["EntryTitle"]}}</td>
            <td>{{row["Entry"]}}</td>
            <td>            
              <form action="/edit" methods = ['GET', 'POST']>
              <input type="submit" name="edit" value = "{{row["EntryTitle"]}}">
              </form></td>
         </tr>
      {% endfor %}
    </table>

    <form action="/createentries" method='POST'>
      <p>
        &emsp; EntryTitle: <input type="text" name="entrytitle">
        <br>
        &emsp; Entry: <input type="text" name="entry">
      </p>
        &emsp; <button type="submit" name="createentry" value = "{{BlogTitle}}">Create new Entry</button>

    </form>

  </body>

</html>
