<!DOCTYPE html>
<!--
OrangeLemon (Edwin Zheng, Shriya Anand, Zhaoyu Lin, William Chen)
SoftDev
P00: Sessions Greetings
Nov 12, 2021
-->


<html>

  <head>
    <title> {{BlogTitle}} </title>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon"/>
  </head>

  <body>
    <h1>
    </h1>
    <br>

    <table border = 1 cellpadding = "1"table-layout: fixed; display: inline-table;>

      <thead>
         <td>EntryTitle</td>
         <td>Entry</td>
         <td>Edit</td>
      </thead>

      {% for row in entries %}
        <form action="/edit" method = 'POST'>
         <tr>

            <td><div style="word-wrap: break-word; width: 200px"></div>{{row["EntryTitle"]}}</td>
            <td><div style="word-wrap: break-word; width: 700px">{{row["Entry"]}}</div></td>
            <td><div style="word-wrap: break-word; width: 50px"></div>
                <button type="submit" name="edit" value = "{{row["EntryTitle"]}}">Edit</button>
            </td>

         </tr>
        </form>
      {% endfor %}
    </table>

    <form action="/createentries" method=['GET', 'POST']>
      <p>
        &emsp; EntryTitle: <input type="text" name="entrytitle">
        <br>
        <br>
        ​&emsp; Entry<textarea name="entry" rows="10" cols="70"></textarea>

        <!-- &emsp; Entry: <input type="text" name="entry" multiple> -->
      </p>
        &emsp; <button type="submit" name="createentry" value = "{{BlogTitle}}">Create new Entry</button>

    </form>
    <br>
    {{login_fail}}
  </body>

  <br>

  <a href = "/"><button>Go back to home page</button></a>

</html>
