<!DOCTYPE html>
<!-- BlueGreen (Edwin Zheng, Shriya Anand, Zhaoyu Lin)
SoftDev
K15: Sessions Greetings
Oct 20, 2021 -->

<html>

  <head>
    <title> LOGIN PAGE </title>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon"/>
  </head>

  <body>
    <h1>
      OrangeLemon
      Shriya, Zhaoyu, Edwin, William
    </h1>
    <h2>
      Welcome! Please Log-In/Register to View the Blogs.

    </h2>

    <h3> Login here: </h3>

    <form action="/auth">
      <p>
        &emsp; Username:
      </p>
        &emsp; <input type="text" name="username">
      <p>
        &emsp; Password:
      </p>
        &emsp; <input type="text" name="password">
      <br>
      <br>
        &emsp; <input type="submit" name="sub1" value = "Log-in">
    </form>

    <form action = "/reg1">
      <br>
      &emsp;<input type = "submit" name = "register" value = "Not registered? Click here">
    </form>

    <!-- <form action = "/list">
      <br>
      &emsp;<input type = "submit" name = "list" value = "List">
    </form> -->
    <br>

    {{login_fail}} <!-- This adds a message indicating why the login is unsuccessful. This will be an empty string if there is no error. -->
  </body>

</html>
