<!DOCTYPE html>
<!--
BlueGreen (Edwin Zheng, Shriya Anand, Zhaoyu Lin)
SoftDev
K15: Sessions Greetings
Oct 20, 2021
-->


<html>

  <head>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <h1>
      OrangeLemon
      Shriya, Zhaoyu, Edwin, William
    </h1>
    <form action="/reg2" methods = ['GET', 'POST']>
      <p>
        &emsp; Username:
      </p>
        &emsp; <input type="text" name="regUser">
      <p>
        &emsp; Password:
      </p>
        &emsp; <input type="text" name="regPass">
      <br>
      <br>
        &emsp; <input type="submit" name="regSub" value = "Register">
    </form>

      <p> {{error}}
      </p>


  </body>

</html>
