<!DOCTYPE html>
<!--
BlueGreen (Edwin Zheng, Shriya Anand, Zhaoyu Lin)
SoftDev
K15: Sessions Greetings
Oct 20, 2021
-->


<html>

  <head>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
    <form action="/working">
      <p>
        &emsp; Username:
      </p>
        &emsp; <input type="text" name="username">
      <p>
        &emsp; Password:
      </p>
        &emsp; <input type="text" name="password">
      <br>
      <br>
        &emsp; <input type="submit" name="sub1" value = "Log-in">
    </form>



  </body>

</html>
