<!DOCTYPE html>
<!--
BlueGreen (Edwin Zheng, Shriya Anand, Zhaoyu Lin)
SoftDev
K15: Sessions Greetings
Oct 20, 2021
-->


<html>

  <head>
    <title> LOGIN PAGE </title>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon"/>
  </head>

  <body>
    <h1>
      OrangeLemon
      Shriya, Zhaoyu, Edwin, William
    </h1>
    <h2>Welcome <u>{{user}}</u>, how are you?</h2> <!-- This greets the user based off their username-->
    <br>
    <table border = 1>
      <thead>
        <td>Your Blogs</td>
      </thead>

      {% for row in blog %}
      <form action = "/whereto" method='POST'>
        <tr>
         <td>

           <input type="submit" name="whereto" value = "{{row["BlogTitle"]}}"/>

         </td>
      </tr>
      </form>

      {% endfor %}
   </table>
    <form action="/createblog">
      <p>
        &emsp; Blog Title: <input type="text" name="blogtitle" size = "39" placeholder = "Blog Titles must be in between 8 and 50 characters">
      </p>
        &emsp; <input type="submit" name="createblog" value = "Create New Blog">
    </form>
    <br>

    <form action = "/view">
      <br>
      <input type = "submit" name = "view" value = "View Other Blogs">
    </form>
    <br>

    <form action="/logout" method="post">
			<input type="submit" name="logout" value = "Logout"> <!-- This adds a button to logout for logged-in users-->
    </form>
    <form action = "/list">
      <br>
      <input type = "submit" name = "list" value = "List">
    </form>
     <br>
    {{login_fail}}

  </body>

</html>
