<!DOCTYPE html>
<!--
OrangeLemon (Edwin Zheng, Shriya Anand, Zhaoyu Lin, William Chen)
SoftDev
P00: Sessions Greetings
Nov 12, 2021
-->


<html>

  <head>
    <title> Results for {{keyword}} </title>
    <link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon"/>
  </head>

  <body>
    <h2>Hello {{user}}, here are some blogs!</h2> <!-- This greets the user based off their username-->
  </body>

  <table border = 1>
    <thead>
      <td>Blogs</td>
    </thead>

    {% for row in blog %}
    <form action = "/specify" method='POST'>
      <tr>
       <td>
         <input type="submit" name="specify" value = "{{row[0]}}"}/>
       </td>
    </tr>
    </form>
    {% endfor %}
  </table>
  <br>
  <a href = "/"><button>Go back to home page</button></a>

</html>
